body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #ffffff;
}
.navbar{
	background: #212121;
	margin: 0;
	padding: 20px 30px;
}
 
.logo{
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
 
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
.tombol{
	display: none;
	color: white;
	font-size: 14pt;			
}
 
.tombol:hover{
	cursor: pointer;
}
 
 
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;			
}
 
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
}
 
 
@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
 
	.menu.aktif{
		display:inline-block;
		position: absolute;
		top: 64px;
		background: #212121;
		padding: 10px 20px;
		right: 0;
		left: 0;
	}
 
	.menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
	}
 
	.tombol {
		display: block;
	}
}


/* Slideshow */
.slider-container {
    width: 100%;
    height: 350px; /* bebas kamu ubah */
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    flex-shrink: 0;      
    background: #ffe17e;    
}


.box {
    display: flex;
    align-items: flex-start;
}

/* Foto */
.img2 {
    max-width: 500px;
    width: 400px;
    height: auto;
    margin-left: 35px; 
    margin-top: 50px; 
    margin-right: 20px;   
    border-radius: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    margin-bottom: 8px;
}

.link-list a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    position: relative;
}

.link-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #000;
    transition: 0.3s;
}

.link-list a:hover::after {
    width: 100%;
}


.link-list a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 130px; 
}





